.pages-home {
  h5 {
    font-weight: 300;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
  }

  .store-trend-categories {
    margin-top: 30px;
  }

  .store-new-products {
    margin-top: 30px;
  }
}
